###
# Show outdated packages:
#   pip list --outdated
# Install new dependencies & upgrade subdependencies:
#   pip install -r requirements.txt --upgrade --upgrade-strategy eager
###

python-telegram-bot[job-queue]==20.4
requests==2.31.0
boto3==1.28.26
openai==0.27.8
google-cloud-translate==3.12.0
botocore==1.31.26
matplotlib~=3.7.2